@page "/myvehicles"
@using CarM8_01.Data
@using Syncfusion.Blazor.Grids
@inherits OwningComponentBase<VehiclesService>

<h3>My Vehicles</h3>
<br/>
    <div id="target" style="height: 500px;">
        <SfGrid ID="Grid" DataSource="@vehicles">
        <GridPageSettings PageSize="5"></GridPageSettings>
            <GridColumns>
                <GridColumn IsPrimaryKey="true" Field=@nameof(Vehicles.Year) HeaderText="Year" TextAlign="@TextAlign.Left" Width="70">
                </GridColumn>
                <GridColumn Field=@nameof(Vehicles.Make) HeaderText="Make" TextAlign="@TextAlign.Left" Width="80">
                </GridColumn>
                <GridColumn Field=@nameof(Vehicles.Model) HeaderText="Model" TextAlign="@TextAlign.Left" Width="80">
                </GridColumn>
                <GridColumn Field=@nameof(Vehicles.VehicleType) HeaderText="Type" TextAlign="@TextAlign.Left" Width="80">
                </GridColumn>
                <GridColumn Field=@nameof(Vehicles.Color) HeaderText="Color" TextAlign="@TextAlign.Left" Width="80">
                </GridColumn>
                <GridColumn Field=@nameof(Vehicles.Engine) HeaderText="Engine" TextAlign="@TextAlign.Left" Width="60">
                </GridColumn>
                <GridColumn Field=@nameof(Vehicles.Mileage) HeaderText="Mileage" TextAlign="@TextAlign.Left" Width="60">
                </GridColumn>
                <GridColumn Field=@nameof(Vehicles.FuelCapacity) HeaderText="Fuel Capacity" TextAlign="@TextAlign.Left" Width="60">
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </div>


@code {
    public IQueryable<Vehicles> vehicles {get; set; }

    protected override void OnInitialized()
    {
       vehicles = @Service.GetVehicles();
    }
}
@*@if (vehicles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Color</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var v in vehicles)
        {
            <tr>
                <td>@v.Year</td>
                <td>@v.Make</td>
                <td>@v.Model</td>
                <td>@v.Color</td>
            </tr>
        }
        </tbody>
    </table>
}*@

@*                 <GridColumn HeaderText="" TextAlign="TextAlign.Left" Width="150">
                    <GridCommandColumns>
                        <GridCommandColumn Type=CommandButtonType.Delete ButtonOption="@(new CommandButtonOptions() {Content = "Delete"})">
                        </GridCommandColumn>
                    </GridCommandColumns>
                </GridColumn> *@